@model IEnumerable<SwiftPizza.Models.Pizza>

<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.PizzaId</td>
                <td>@pizza.PizzaName</td>
                <td>@pizza.PizzaPrice</td>
                <td>@pizza.PizzaQuantity</td>
                <td>@pizza.PizzaDescription</td>
            </tr>
        }
    </tbody>
</table>
